:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.outer-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('./img/background.jpg');
}

/* SEARCH BAR */
.search-bar-container {
    padding: 2rem 4rem;
    width: 18vw;
    min-width: 30rem;
}

.inner-search-bar-container {
    background-color: rgba(61, 57, 57, 0.644);
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background-color: rgba(61, 57, 57, 0.644);
    border: none;
    color: #fff;
    border-radius: 1rem;
    font-weight: 500;
    padding-left: 2.5rem;
    width: 100%;
}

.search-bar:focus {
    outline: none;
}

.search-btn {
    width: 2.2rem;
    height: 2.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
}

.search-btn svg {
    stroke: #fff;
}

.main-container {
    display: Flex;
    flex-direction: column;
}
/* Main section*/
.main-section {
    display: flex;
    justify-content: space-between;
}

/* Main properties */
.main-properties {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    color: #eee;
    padding: 0rem 4rem;
    gap: 2rem;
    width: 50vw;
    min-width: 10rem;
}

.cloud-type-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 3rem;
    font-weight: 500;
    width: 15rem;
}
.cloud-type-section svg {
    height: 12rem;
    width: 12rem;
    fill: #eee;
    padding-bottom: 2rem;
}

.cloud-type {
    margin-top: -2rem;
    font-weight: 600;
}

.city-name-section {
    margin-top: -2rem;
    font-size: 2rem;
}

.date-section {
    min-width: 10rem;
}

.date {
    font-size: 1.2rem;
}

.time-section {
    margin-top: -2rem;
    min-width: 10rem;
}

.time {
    font-size: 1.2rem;
}

.temp-section {
    min-width: 12rem;
    display: flex;
    flex-direction: column;
}

.temp {
    font-size: 4rem;
    font-weight: 700;
}

.unit-change-btn {
    width: 10rem;
    background-color: inherit;
    border: none;
    color: #eee;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: left;
    transition: transform 250ms ease-in-out;
}

.unit-change-btn:hover {
    transform: rotate(-2deg);
    color: #fff;
}

/* Secondary properties */
.sec-properties {
    width: 10vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 20rem;
}

.section-1 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.svg {
    height: 5rem;
    width: 5rem;
    fill: #eee;
}

.section-2 {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    color: #eee;
}

.value {
    font-weight: 500;
    font-size: 2rem;
}

/* Secondary Section */
.sec-section {
    margin-top: 10rem;
    display: Flex;
    justify-content: space-between;
    padding: 4rem;
    padding-right: 8rem;
    min-width: 80rem;
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
    gap: 1.5rem;
}

.day-name {
    font-size: 2rem;
}

.day-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-max-temp {
    font-size: 2.5rem;
    font-weight: 600;
}

.day-min-temp {
    font-size: 1.3rem;
}

.day-svg svg {
    width: 8rem;
    height: 8rem;
    fill: #eee;
}
